@page
@model RestaurantWebApp.Pages.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Pages/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" type="text/css" href="~/CSS/CheckoutCSS.css">
}
@using RestaurantWebApp.Data
@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
<div class="checkoutForm">
    <h1>
        Checkout
    </h1>

    <hr>

    <form method="post">
        <table>
            <thead>
                <tr>
                    <th><h2>Name</h2></th>
                    <th><h2>Price</h2></th>
                    <th><h2>Quantity</h2></th>
                    <th></th>
                    <th><h2>Subtotal</h2></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    var subtotal = item.Price * item.Quantity;
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Price.ToString("C")</td>
                        <td>@item.Quantity</td>
                        <td>
                            <input type="submit" value="+" asp-page-handler="AddRemove" asp-route-itemID="@item.ID" asp-route-value="+1"/>
                            <input type="submit" value="-" asp-page-handler="AddRemove" asp-route-itemID="@item.ID" asp-route-value="-1"/>
                        </td>
                        <td>@subtotal.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
        
        <div class="total">
            <h3>Total = @Model.Total.ToString("C")</h3>
        </div>
        
    </form>
    <div class="cardButton">
        <form asp-page-handler="Charge" asp-route-amount="@Model.AmountPayable" method="post">
            <script src="//checkout.stripe.com/v2/checkout.js"
                    class="stripe-button"
                    data-key="@Stripe.Value.PublishableKey"
                    data-locale="auto"
                    data-description="CO5227 Meals Charge"
                    data-amount="@Model.AmountPayable"
                    data-currency="GBP">
            </script>
        </form>
    </div>

</div>